---
import Layout from '../layouts/Layout.astro';

import Badge from '../components/Badge.astro';
import SectionContainer from '../components/SectionContainer.astro';
import LinkedInIcon from '../components/icons/LinkedIn.astro'
import SocialPill from '../components/SocialPill.astro';
import GithubIcon from '../components/icons/GitHub.astro';
import GmailIcon from '../components/icons/Gmail.astro';
import WhatsappIcon from '../components/icons/Whatsapp.astro';
import Experience from '../components/experience.astro';
import Work from '../components/icons/Work.astro';
import  CodeIcon  from '../components/icons/Code.astro';
import Footer from '../components/Footer.astro';
import Projects from '../components/projects.astro';
import LogoGrid from '../components/LogoGrid.astro';
import CV from '../components/icons/CV.astro';




---
<Layout title="Portafolio de Paulo Melendez - Desarrollador y Programador web +1 año de experiencia" description="Si buscas un desarrollador web que pueda crear páginas de excelente calidad, paulito_god es tu mejor opción. Con experiencia en diseño y desarrollo web, paulito_god garantiza resultados profesionales y personalizados para tu negocio o proyecto personal." currentPage="index">
  
    <main class="px-2">
        <SectionContainer class="pt-60 pb-60">
            <div class="flex items-center">
                
                <div class="flex flex-col">
                    <h1 class="text-white text-2xl md:text-3xl lg:text-4xl font-bold flex flex-row gap-x-2 pb-3 lg:pb-5">hola soy Paulo melendez
                        <a href="https://www.linkedin.com/in/paulo-melendez/" target="_blank" class="flex justify-center items-center" rel="noopener">
                            <Badge>disponible para trabajar</Badge>
                        </a>
                    </h1>
                    <h2 class="text-lg lg:text-xl text-wrap max-w-[700px] py-12">
                        <span class="text-blue-500">Con más de un año de experiencia</span>, me especializo en el desarrollo de aplicaciones y sitios web, con un enfoque sólido en <span class="text-green-500">front-end</span>. Estoy motivado por la constante búsqueda de nuevos lenguajes y metodologías para enriquecer mis habilidades.
                        <span class="text-yellow-200/90 opacity-80">
                            Desarrollador Web en formación en <a href="https://www.tecsup.edu.pe" class="text-blue-300 underline" target="_blank">TECSUP</a>.
                        </span>
                        <span class="text-red-100/90">Originario de Lima, Perú.</span>
                    </h2>
                </div>
            </div>
            <nav class="flex gap-2 mt-4 flex-wrap mb-10">
                <SocialPill href="https://www.linkedin.com/in/paulo-melendez/">
                    <LinkedInIcon class="size-4 md:size-6"/> LinkedIn
                </SocialPill>
                <SocialPill href="https://github.com/PAU45">
                    <GithubIcon class="size-4 md:size-6"/> Github
                </SocialPill>
                <SocialPill href="mailto:paulo.melendez@tecsup.edu.pe?subject=Consulta&body=Escribe%20tu%20mensaje%20aquí">
                    <GmailIcon class="size-4 md:size-6"/> Gmail
                </SocialPill>
                <SocialPill href="https://wa.me/+51908976340?text=Hola%20quiero%20hacer%20una%20consulta">
                    <WhatsappIcon class="size-4 md:size-6"/> Whatsapp
                </SocialPill>
               
                <SocialPill href="/CV/paulo_cv-1.pdf" class="flex items-center bg-blue-500 text-white rounded-lg p-2 hover:bg-blue-600 transition  download">
                    <CV class="h-6 w-6 mr-2" />
                    <span>Curriculum Vitae</span>
                </SocialPill>
            </nav>
        </SectionContainer>

        
        
        {/* Sección de Experiencia Educativa */}
        <SectionContainer class="mb-5 mt-20" id="experiencia">
            <h2 class="text-3xl font-semibold mb-3 flex gap-x-1 items-center">
                <Work class="size-7"/> experiencia Educativa:
            </h2>
            <Experience/>
        </SectionContainer>

        <SectionContainer>
            <LogoGrid />
        </SectionContainer>


        {/* Sección de Proyectos */}
        <SectionContainer id="proyectos" class="mb-5 mt-20"> {/* Agregar margen superior aquí */}
            <div class="proyectos-content">
                <h2 class="text-3xl font-semibold mb-6 flex gap-x-2 items-center">
                    <CodeIcon class="size-7"/> proyectos:
                </h2>
                <Projects/>
            </div>
        </SectionContainer>
        
       

        <SectionContainer>
            <Footer/>
        </SectionContainer>
    </main>

</Layout>