---import "@fontsource-variable/onest"
import Header from '../components/Header.astro';

interface Props {
  title: string;
  description: string;
}

const { description, title } = Astro.props;
---
<!doctype html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <meta name="description" content={description} />
  <meta name="viewport" content="width=device-width" />
  <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
  <meta name="generator" content={Astro.generator} />
  <title>{title}</title>
</head>
<body>
  <div class="fixed inset-0 -z-10 h-full w-full items-center px-5 py-24 [background:radial-gradient(125%_125%_at_50%_10%,#000_40%,#63e_100%)]"></div>
  <Header/>
  <slot />
</body>
</html>

<style is:global>
:root {
  color-scheme: light dark;
  /* Puedes definir variables para colores y fuentes si es necesario */
  --background-color: #050505;
  --font-family: "Onest Variable", system-ui, sans-serif;
}

html {
  font-family: var(--font-family);
  scroll-behavior: smooth;
}

body {
  background-color: var(--background-color);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

@media (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto; /* Cambia a auto si el usuario prefiere menos movimiento */
  }
}

/* Asegúrate de que el texto tenga un buen contraste */
h1, h2, h3, p {
  color: #ffffff; /* Ajusta según sea necesario para el contraste */
}
</style>
